.fheader
  .fheader__titlebox
    My Sake Diary
  .fheader__button
    = link_to new_user_session_path, class: "fheader__button__loginbox" do
      LOG IN
    = link_to index_path, class: "fheader__button__signupbox" do
      SIGN UP
.signup
  .signup__head
  .signup__box
    .signup__box__header
      New Member Registration
    .signup__box__content
      = link_to new_user_registration_path, class: 'signup__box__content__button' do
        = icon 'far', 'envelope', class:"signup__box__content__button__icon"
        Register by email address

