.fheader
  .fheader__titlebox
    My Sake Diary
  .fheader__button
    = link_to "#", class: "fheader__button__loginbox" do
      LOG IN
    = link_to "#", class: "fheader__button__signupbox" do
      SIGN UP
.signup
  .signup__
