.main
  .header
    = link_to root_path, class: "header__title", data: {turbolinks: false}  do
      My Sake Diary
    = form_with(url: root_path, local: true, method: :get, class: "header__search") do |f|
      = f.text_field :keyword, class: "header__search__form"
      %button.header__search__button
        %i.fas.fa-search
    .header__button
      %button#modal-open-btn LOG OUT
      = link_to "", destroy_user_session_path, method: :delete, id: 'item-delete-btn'
      #overlay
        #modalWindow
          .modal-message-box
            %div confirmation 
            %div Are you sure you want to log out?
          %button#modal-close-btn CANCEL
          %button#delete-comformation-btn LOG OUT
  .content-edit
    .eheader
      Your Basic Data
    .ebody
    
      .ebody__nicknamebox
        
      .ebody__heightbox
        .ebody__heightbox__variable
        .ebody__heightbox__unit
      .ebody__weightbox
        .ebody__weightbox__variable
        .ebody__weightbox__unit
      .ebody__agebox
        .ebody__agebox__variable
        .ebody__agebox__unit
      .ebody__monthlybox
        .ebody__monthlybox__month
        .ebody__monthlybox__unit
        .ebody__monthlybox__monthly
