.fheader
  .fheader__titlebox
    My Sake Diary
  .fheader__button
    = link_to "#", class: "fheader__button__loginbox" do
      LOG IN
    = link_to "#", class: "fheader__button__signupbox" do
      SIGN UP
.fmain
  %ul.fmain__images
    %li
      = image_tag "drink_craft_beer_glass.png",class: "fmain__images__image",id: "gazo1"
      .fmain__images__text
        .fmain__images__text__greeting1
          Welcome To 
        .fmain__images__text__greeting2
          My Sake Diary
    -# %li
    -#   = image_tag "drink_craft_beer_bottle.png",class: "fmain__images__imaga",id: "gazo1"
    -#   .fmain__images__description
    -#     .fmain__images__description__text
    -#       This service will dramatically change
    -#       %br
    -#       your drinking life