.main
  = render "header"
-if @posts.empty?
  .main__text
    No data 
    %br/
    Please search again
- else
  .content2
    %ul.posts
      - @posts_m.each do |post_m|
        %li.data1
          .data1__header
            = post_m.date.strftime("%m%B")
          .content2__header__title
            Your Data 
        %ul.posts
          - @posts.each do |post|
            = render partial: "post", locals: { post: post}
