.main
  = render "header"
-if @posts.empty?
  .main__text
    No data 
    %br/
    Please search again
- else
  .content
    %ul.posts
      - @posts.each do |post|
        = render partial: "post", locals: { post: post}
