.fheader{
  height: 80px;
  width: 100vw;
  background-color: #EEEEEE;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 6px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 6px 3px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 6px 3px rgba(0,0,0,0.6);
  display: flex;
  justify-content: space-between;
  &__titlebox{
    font-weight: 600;
    margin: 20px 0 20px 50px;
    line-height: 40px;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    background: linear-gradient(transparent 60%, lightgreen 80%);
  }
  &__button{
    &__loginbox{
      line-height: 80px;
      padding: 8px;
      text-decoration: none;
      text-align: center;
      margin-right: 40px;
      border: solid 0.5px #CCCCCC;
      border-radius: 5px;
      background-color: #AAAAAA;
      font-family: 'Alegreya Sans SC', sans-serif;
      &:hover {
        background: #0095EE;
        color: #fff;
      }
    }
    a {
      color: black;
    }
    &__signupbox{
      line-height: 80px;
      padding: 8px;
      text-decoration: none;
      text-align: center;
      margin-right: 40px;
      border: solid 0.5px #CCCCCC;
      border-radius: 5px;
      background-color: #AAAAAA;
      font-family: 'Alegreya Sans SC', sans-serif;
      &:hover {
        background: #33CC66;
        color: #fff;
      }

    }
    a {
      color: black;
    }
  }
}
.fmain{
  height: calc(100vh - 80px);
  width: 100vw;
}