.fheader{
  height: 80px;
  width: 100vw;
  background-color: #EEEEEE;
  font-size: 16px;
  font-weight: 500;
  box-shadow:0px -8px 8px -1px #ccc inset;
  display: flex;
  justify-content: space-between;
  &__titlebox{
    text-decoration: none;
    font-weight: 600;
    margin: 20px 0 20px 50px;
    line-height: 40px;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    background: linear-gradient(transparent 60%, lightgreen 80%);
  }
  a {
    color: black;
  }
  &__button{
    &__loginbox{
      line-height: 80px;
      padding: 8px;
      text-decoration: none;
      text-align: center;
      margin-right: 40px;
      border: solid 0.5px #CCCCCC;
      border-radius: 5px;
      background-color: #AAAAAA;
      font-family: 'Alegreya Sans SC', sans-serif;
      &:hover {
        background-color: #0095EE;
        color: #fff;
      }
    }
    a {
      color: black;
    }
    &__signupbox{
      line-height: 80px;
      padding: 8px;
      text-decoration: none;
      text-align: center;
      margin-right: 40px;
      border: solid 0.5px #CCCCCC;
      border-radius: 5px;
      background-color: #AAAAAA;
      font-family: 'Alegreya Sans SC', sans-serif;
      &:hover {
        background-color: #33CC66;
        color: #fff;
      }

    }
    a {
      color: black;
    }
  }
}
.fmain{
  height: calc(100vh - 80px);
  width: 100vw;
  background: radial-gradient(#F2B9A1, #EA6264);
  &__images{
    text-decoration: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    height: 650px;
    width: 1200px;
    margin: 0px auto;
    padding-top: 60px;
    position: relative;
    &__image1{
      padding: 90px 180px 0 250px;
    }
    &__image2{
      padding: 300px 100px 100px 800px;
    }
    &__greeting1{
      position: absolute;
      top: 0px;
      left: 50px;
      font-weight: 600;
      font-size: 70px;
      font-family: 'Caveat', cursive;
    }
    &__greeting2{
      position: absolute;
      bottom: -140px;
      right: 0px;
      font-weight: 600;
      font-size: 70px;
      font-family: 'Caveat', cursive;
    }
    
    &__description1{
      position: absolute;
      top: 50px;
      left: 100px;
      font-weight: 400;
      font-size: 40px;
      font-family: 'Caveat', cursive;
    }
    &__description2{
      position: absolute;
      top: 200px;
      left: 100px;
      font-weight: 400;
      font-size: 40px;
      font-family: 'Caveat', cursive;
    }
  }

}