.main{
  .header{
    height: 80px;
    width: 100vw;
    background-color: #EEEEEE;
    font-size: 16px;
    font-weight: 500;
    box-shadow:0px -8px 8px -1px #ccc inset;
    display: flex;
    justify-content: space-between;
    &__title{
      text-decoration: none;
      font-weight: 600;
      margin: 20px 0 20px 50px;
      line-height: 40px;
      font-family: 'Caveat', cursive;
      font-size: 30px;
      background: linear-gradient(transparent 60%, lightgreen 80%);
    }
    a {
      color: black;
    }
    
  
    &_search{
      &__form{

      }
    
      &__button{

      }
    }
    
    &__logout{
      line-height: 80px;
      padding: 8px;
      text-decoration: none;
      text-align: center;
      margin-right: 40px;
      border: solid 0.5px #CCCCCC;
      border-radius: 5px;
      background-color: #AAAAAA;
      font-family: 'Alegreya Sans SC', sans-serif;
      &:hover {
        background-color: #33CC66;
        color: #fff;
      }
    }
    a {

      color: black;
    }

    

  }

  
  .content1{

  }
  .content2{

  }

}
.fas.fa-search{

}