.main{
  .header{
    height: 80px;
    width: 100vw;
    background-color: #EEEEEE;
    font-size: 16px;
    font-weight: 500;
    box-shadow:0px -8px 8px -1px #ccc inset;
    display: flex;
    justify-content: space-between;
    &__title{
      text-decoration: none;
      font-weight: 600;
      margin: 20px 0 20px 50px;
      line-height: 40px;
      font-family: 'Caveat', cursive;
      font-size: 30px;
      background: linear-gradient(transparent 60%, lightgreen 80%);
    }
    a {
      color: black;
    }
    &_search{
      
      position: relative;
      &__form{
        position: relative;
        width: 100%;
        background-color: rgb(245,245,245);
        font-size: 16px;
        height: 40px;
        line-height: 1.4em;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(204,204,204);
        border-image: initial;
        border-radius: 4px;
        outline: none;
        padding: 0px 0px 0px 10px;
        transition: all 0.3s ease-out 0s;
      }
      &__button{
        position: absolute;
        right: 0;
        top: 0;  
        background-color: transparent;
        cursor: pointer;
        height: 40px;
        width: 40px;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        border-radius: 0px 4px 4px 0px;
        padding: 0px;
      }
    }
    &__button{
      &__logout{
        line-height: 80px;
        padding: 8px;
        text-decoration: none;
        text-align: center;
        margin-right: 40px;
        border: solid 0.5px #CCCCCC;
        border-radius: 5px;
        background-color: #AAAAAA;
        font-family: 'Alegreya Sans SC', sans-serif;
        &:hover {
          background-color: #33CC66;
          color: #fff;
        }
      }
      a {
        color: black;
      }
    }
  }
  .content1{

  }
  .content2{

  }

}
.fas.fa-search{
  font-size: 13px;
}