.main{
  padding-bottom: 50px;
  background-color: #EEEEEE;
  .header{
    height: 80px;
    width: 100vw;
    font-size: 16px;
    font-weight: 500;
    box-shadow:0px -8px 8px -1px #ccc inset;
    position: relative;
    &__title{
      text-decoration: none;
      font-weight: 600;
      position: absolute;
      top: 17px;
      left: 50px;
      line-height: 40px;
      font-family: 'Caveat', cursive;
      font-size: 30px;
      background: linear-gradient(transparent 60%, lightgreen 80%);
    }
    a {
      color: black;
    }
    &__search{
      margin: 0px auto;
      position: relative;
      line-height: 80px;
      width: calc(100vw - 55%);
      &__form{
        width: 100%;
        background-color: rgb(245,245,245);
        font-size: 16px;
        height: 40px;
        padding-left: 10px;
        line-height: 1.4em;
        border-radius: 4px;
        border: none;
        outline: none;
        transition: all 0.3s ease-out 0s;
        box-shadow: 0 0 8px gray;
      }
      &__button{
        position: absolute;
        right: 0px;
        top: 20px;  
        background-color: transparent;
        cursor: pointer;
        height: 40px;
        width: 40px;
        border: none;
        outline: none;
        border-radius: 0px 4px 4px 0px;
        padding: 0px;
      }
    }
    &__button{
      #modal-open-btn{
        cursor: pointer;
        font-size: 16px;
        padding: 8px;
        text-decoration: none;
        text-align: center;
        position: absolute;
        top: 22px;
        right: 40px;
        border: solid 0.5px #CCCCCC;
        border-radius: 5px;
        background-color: #AAAAAA;
        font-family: 'Alegreya Sans SC', sans-serif;
        &:hover {
          background-color: #33CC66;
          color: #fff;
        }
      }
      
    }
  }
  .content1{
    display: flex;
    &__data1{
      padding-bottom: 50px;
      width: calc(100vw - 50%);
      background-color: #CCFFFF;
      &__title{
        display: flex;
        justify-content: space-between;
        height: 60px;
        border-bottom: dashed 2px #5b8bd0;
        &__text{
          margin-left: 50px;
          line-height: 60px;
          font-size: 25px;
          font-family: 'Caveat', cursive;
          font-weight: 600;
          color: brown;
        }
        &__edit{
          cursor: pointer;
          text-decoration: none;
          margin-right: 20px;
          line-height: 60px;
          font-size: 14px;
          color: black;
          &:hover{
            color: #0095EE;
            text-decoration: underline;
          }
        }
      }
      &__userdata1{
        display: flex;
        justify-content: space-between;
        height: 80px;
        margin: 20px 50px 0;
        &__box{
          box-shadow: 0 0 8px gray;
          padding: 15px 15px 5px;
          background-color: white;
          border-radius: 4px;
          height: 100%;
          &__title{
            padding-bottom: 5px;
            font-size: 25px;
            margin: 0 20px;
          }
          &__value{
            display: flex;
            &__variable{
              color: brown;
              font-size: 25px;
              padding-top: 5px;
              margin-left: 25px;
            }
            &__unit{
              font-size: 25px;
              margin-left: 10px;
              padding-top: 5px;

            }
          }
        }
      }
      &__userdata2{
        display: flex;
        justify-content: space-between;
        height: 80px;
        margin: 80px 50px 0;
        &__box{
          box-shadow: 0 0 8px gray;
          background-color: white;
          border-radius: 4px;
          height: 100%;
          padding: 15px;
          &__title{
            height: 30px;
            font-size: 25px;
            margin-left: 30px;

          }
          &__value{
            display: flex;
            height: 50px;
            &__variable{
              color: brown;
              font-size: 25px;
              margin-left: 25px;
              margin-right: 10px;
              padding-top: 15px;
            }
            &__unit{
              font-size: 25px;
              padding-top: 15px;
            }
          }
        }
        &__box2{
          box-shadow: 0 0 8px gray;
          background-color: white;
          border-radius: 4px;
          height: 100%;
          padding: 15px;
          &__title{
            height: 30px;
            font-size: 25px;
          }
          &__value{
            
            display: flex;
            height: 50px;
            &__1{
              color: brown;
              font-size: 25px;
              padding-top: 15px;
              margin-left: 20px;
            }
            &__2{
              font-size: 25px;
              padding-top: 15px;
              margin-left: 20px;
            }
            &__3{
              color: brown;
              font-size: 25px;
              padding-top: 15px;
              margin-left: 10px
            }
          }
        }
      }
    }
    &__data2{
      width: calc(100vw - 50%);
      background-color: #FFFFCC	;
      padding-bottom: 50px;
      &__title{
        display: flex;
        justify-content: space-between;
        height: 60px;
        border-bottom: dashed 2px #FFCC66;
        &__text{
          margin-left: 50px;
          line-height: 60px;
          font-size: 25px;
          font-family: 'Caveat', cursive;
          font-weight: 600;
          color: brown;
        }
        &__new{
          cursor: pointer;
          text-decoration: none;
          background-color: #AAAAAA;
          border-radius: 5px;
          margin-right: 20px;
          margin: 10px 50px 10px 0;
          padding: 10px 8px;
          font-size: 20px;
          color: black;
          &:hover{
            background-color: #FF6666;
            color: white;
          }
        }
      }
      &__result1{
        display: flex;
        justify-content: space-between;
        height: 80px;
        margin: 20px 50px 0;
        &__box{
          box-shadow: 0 0 8px gray;
          background-color: white;
          border-radius: 4px;
          height: 100%;
          padding: 15px 15px 5px;
          &__title{
            font-size: 25px;
            padding-bottom: 5px;
          }
          &__value{
            display: flex;
            &__variable{
              color: brown;
              margin-left: 50px;
              font-size: 25px;
              padding-top: 5px;
            }
            &__unit{
              margin-left: 10px;
              font-size: 25px;
              padding-top: 5px;
            }
          }
        }
      }
      &__result2{
        display: flex;
        justify-content: space-between;
        height: 80px;
        margin: 80px 50px 0;
        &__box{
          box-shadow: 0 0 8px gray;
          background-color: white;
          border-radius: 4px;
          height: 100%;
          padding: 15px;
          &__title{
            height: 30px;
            font-size: 25px;
          }
          &__value{
            display: flex;
            &__variable{
              margin-left: 90px;
              margin-right: 10px;
              font-size: 25px;
              padding-top: 15px;
            }
            &__unit{
              color: brown;
              font-size: 25px;
              padding-top: 15px;
            }
          }
        }
      }
    }
  }




  .content2{
  }

}
.fas.fa-search{
  font-size: 13px;
}
