.content-new{
  box-shadow: 0 0 8px gray;
  border-radius: 4px;
  width: calc(100vw - 50%);
  background-color: #FFFFCC	;
  margin: 50px auto 0;
  &__header{
    font-weight: 600;
    font-size: 35px;
    color: brown;
    font-family: 'Caveat', cursive;
    text-align: center;
    border-bottom: dashed 2px  #FFCC66;
  }
  &__formbox{
    margin: 50px 85px 0;
    &__1{
      display: flex;
      &__label1{
        font-family: 'Caveat', cursive;
        font-size: 30px;
      }
      &__unit{
      }
      &__form1{
      }
    }
    &__2{
      display: flex;
      &__label2{
        font-family: 'Caveat', cursive;
        font-size: 30px;
      }
      &__unit{
      }
      &__form2{
      }
    }
    &__3{
      display: flex;
      &__label3{
        font-family: 'Caveat', cursive;
        font-size: 30px;
      }
      &__unit{
      }
      &__form3{
      }
    }
    &__4{
      display: flex;
      &__label4{
        font-family: 'Caveat', cursive;
        font-size: 30px;
      }
      &__unit{
      }
      &__form4{ 
      }
    }
    &__5{
      display: flex;
      &__label5{
        font-family: 'Caveat', cursive;
        font-size: 30px;
      }
      &__unit{
      }
      &__form5{
      }
    }
    &__6{
      display: flex;
      &__label6{
        font-family: 'Caveat', cursive;
        font-size: 30px;
      }
      &__unit{
      }
      &__form6{
      }
    }
    &__7{
      &__label7{
        font-family: 'Caveat', cursive;
        font-size: 30px;
      }
      &__form7{
        width: 100%;
        display: block;
      }
    }
    &__8{
      font-family: 'Caveat', cursive;
      font-size: 30px;
      &__form8{ 
      }
    }
  }
}