.content-new{
  box-shadow: 0 0 8px gray;
  border-radius: 4px;
  width: calc(100vw - 50%);
  background-color: #CCFFFE;
  margin: 50px auto 0;
  &__header{
    font-weight: 600;
    font-size: 35px;
    color: brown;
    font-family: 'Caveat', cursive;
    text-align: center;
    border-bottom: dashed 2px #5b8bd0;
  }
  &__formbox{
    &__1{
      &__label1{
      }
      &__unit{
      }
      &__form1{
      }
    }
    &__2{
      &__label2{
      }
      &__unit{
      }
      &__form2{
      }
    }
    &__3{
      &__label3{
      }
      &__unit{
      }
      &__form3{
      }
    }
    &__4{
      &__label4{
      }
      &__unit{
      }
      &__form4{ 
      }
    }
    &__5{
      &__label5{
      }
      &__unit{
      }
      &__form5{
      }
    }
    &__6{
      &__label6{
      }
      &__unit{
      }
      &__form6{
      }
    }
    &__7{
      &__label7{
      }
      &__form7{
      }
    }
    &__8{
      &__form8{ 
      }
    }
  }
}